[submodule "conda-zsh-completion"]
	path = conda-zsh-completion
	url = /home/doc/.dotfiles/custom/plugins/conda-zsh-completion/
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = /home/doc/.dotfiles/custom/plugins/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh-syntax-highlighting
	url = /home/doc/.dotfiles/custom/plugins/zsh-syntax-highlighting
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = /home/doc/.dotfiles/custom/themes/powerlevel10k
